.journal-banner-wrapper {
    Position: relative;
    overflow: hidden;
    padding-top: 340px;
    padding-bottom: 132px;
    background-position: 50% 50%;
    background-size: cover;
}


.jbannerimg-0 {
    background-image: url(../images/Blogs/Blogdetails/blog-0/Blogdetails-0.png); 
}
.jbannerimg-1 {
    background-image: url(../images/Blogs/Blogdetails/blog-1/Blogdetails-1.png); 
}
.jbannerimg-2 {
    background-image: url(../images/Blogs/Blogdetails/blog-2/Blogdetails-2.png); 
}
.jbannerimg-3 {
    background-image: url(../images/Blogs/Blogdetails/blog-3/Blogdetails-3.png); 
}
.jbannerimg-4 {
    background-image: url(../images/Blogs/Blogdetails/blog-4/Blogdetails-4.png); 
}


.journal-img {
    Position: relative;
    overflow: hidden;
    background-size: cover;
}



.journal-content {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.blog-content > .row {

    margin-bottom: 50px;
    
}

@media (min-width: 1200px) { 

    .journal-content{
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
    .w-images img {
        height: 340px;
    }
}
@media (min-width: 992px){
    .pr-lg-5{
        padding-right: 50px;
    }
}
@media (max-width: 991.98px) {
.journal-content{
    padding-left: 10px !important;
    margin-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
}
.blog-content .img-right{
    margin-bottom: 32px;
}
}