.banner-wrapper{
    Position: relative;
    overflow: hidden;
    padding-top: 340px;
    padding-bottom: 132px;
    background-image: url(../../images/Common/Banners/banner-home.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  .banner-yellow{
  background-color: #FECB5E;
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  }
  
  .banner-contact .banner-wrapper{
   background-image: url(../../images/Common/Banners/banner-contact.png);
  }
  .banner-service .banner-wrapper{ 
    background-image: url(../../images/Common/Banners/banner-service.png);
  }


  @media (max-width: 991.98px) {
    .banner-wrapper{
        padding-top: 200px;
        padding-bottom: 32px; 
    }
  }

  @media (min-width: 992px) { 
    .bgimg1 .about-story 
    {
       background-image: url(../../images/About/about-c-1.png);
        background-position: 50% 50%;
        background-size: cover;
    }
    .bgimg2 .about-story{
      background-image: url(../../images/About/about-c-2.png);
      background-position: 50% 50%;
      background-size: cover;
    }
    .side-image .w-images{
        opacity: 0;
    }
    
  }