.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1) grayscale(100) !important;
}
.help-icon{
    margin-right: 15px;
}
.w-smallhead{
    color: #999999;
}
.w-header h4{
    margin-bottom: 30px;
}
@media (min-width: 1200px)
{

.w-images img {
    height: auto !important;
}

.art-content{
    max-width: 600px;
    margin: 0 auto;
}

}